{% extends 'base.html.twig' %}

{% block title %}Event Time{% endblock %}

{% block header %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="container mx-auto text-center m-5">
        <h1>Les événements</h1>
    </div>
{% endblock %}
