<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Accueil</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-label>Réglages</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>Profil</ion-label>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="list">
      <ion-label>Liste</ion-label>
      <ion-icon name="list-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="pokemons">
      <ion-label>Pokemons</ion-label>
      <ion-icon name="skull-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
