<ion-header>
  <ion-toolbar>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
      <ion-title>Populaires</ion-title>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let popularity of popularity; index as i">
        <div>
          <ion-img [src]="'https://image.tmdb.org/t/p/w500' + popularity.poster_path"></ion-img>

          <ion-title size="small">{{ popularity.original_title }}</ion-title>
        </div>

        <ion-text size="small">{{ popularity.release_date }}</ion-text>

        <ion-icon name="star"></ion-icon>
        <ion-text size="small">{{ popularity.vote_average }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
