<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exos-05</title>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <!-- 
        Créer deux champs de saisies de nombres. On utilisera une propriété computed pour afficher dans un paragraphe un nombre dont le chiffre des dizaines est celui du nombre saisi dans le premier champ et le nombre des unités celui du nombre saisi dans le second champ. Exemple, si on a 43 et 35, le nombre est 45
     -->
    <div id="app" v-cloak>
        <input type="text" v-model="number1">
        <input type="text" v-model="number2">
        <p v-if="result">{{ result }}</p>
    </div>

    <script src="https://unpkg.com/vue@3"></script>

    <script>
        var app = Vue.createApp({
            data() {
                return {
                    number1: '0',
                    number2: '0',
                };
            },

            computed: {
                result() {

                    let number1 = this.number1.toString(); //Transforme en chaîne
                    let dozens = number1[number1.length - 2] || 0; //Récupère la dizaine
                    let unity = this.number2 % 10; //Récupère l'unité

                    return dozens + unity; //Concatène 2 chaînes
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
