body {
  background-image: url("../public/img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}


.container {
  margin: auto;
  width: 600px;
}

.flex {
  display: flex;
}

.justify {
  justify-content: space-between;
}


.width {
  width: 300px;
}

.bg-white {
  background-color: white;
  padding: 10px 20px;
  margin:10px;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

.button {
  background-color: orange;
  border: 1px yellowgreen;
  border-radius: 5px;
  padding:10px;
  color: white;
  margin-top: 15px;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 200px;
}

.loader img {
  width: 200px;
  height: 200px;
}

/* AddBurger */
form input, form textarea{
  width: 500px;
  padding: 15px 10px;
  margin-top: 15px;
  border-radius: 10px;
}

form div {
  margin: auto;
  width: 500px;
}

form div button {
  margin-top: 15px;
  margin-left: 220px;
  margin-right: 220px;
  width: 100px;
  background-color: orange;
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: white;
}