{% extends 'base.html.twig' %}

{% block title %}Members - Social Network{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-around mt-5">

        <div>
            <img src="img/user.svg" alt="avatar" width="20" />
        </div>

        <div>
            <span>Email</span>
        </div>

        <div>Prénom</div>

        <div>Pseudo</div>

        <div>Date de naissance</div>
        
        <div>Biographie</div>

    </div>
{% endblock %}

