/* em se base sur le parent, rem sur le html */

html{
    font-size:14px;
}

body{
    font-size:10px;
}

h1{
    font-size:2em; /* 10px x 2 */
}

.mobile{
    display: none;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flex > div{
    width: 50%;
}

.flex > div > div{
    background-color: red;
    height: 50px;
    width: 30%;
    margin-bottom:10px;
}

@media (max-width:992px){
    .flex > div > div{
        width: 90%;
    }
}

@media (max-width:768px){
    body{
        font-size:14px;
    }

    h1{
        font-size:2em; /* 20px x 2=40px */
    }

    /* rem=root em */
    h1.rem{
        font-size: 2rem;;
    }

    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

    main{
        flex-wrap: wrap;
    }
    
    main > .flex{
        width: 100%;
    }
}
